{

  "parser": "babel-eslint",  
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },

  "rules": {
    "quotes": [2, "single"],
    "indent": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-indent":[2, "tab"],
    "no-unused-vars": 2,
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0]
  }
}
