
.DS_Store
logs

node_modules

ReactNativePaginationExample/react-native-pagination
coverage/
.coveralls.yml
.travis.yml

images
node_modules


#tests


#build tools
.travis.yml
.jenkins.yml
package-lock.json
#linters
.jscsrc
.jshintrc
.eslintrc*
