
.DS_Store
logs

node_modules

ReactNativePaginationExample/react-native-pagination
ReactNativePaginationExample/node_modules
ReactNativePaginationExample/ios
ReactNativePaginationExample/android
coverage/
.coveralls.yml
.travis.yml

images


#tests


#build tools
.travis.yml
.jenkins.yml
package-lock.json
#linters
.jscsrc
.jshintrc
.eslintrc*
